{% extends "index.html" %}

{% block titulo %} Actualizar Coordinador {% endblock %}

{% block contenido_principal %}
<h3 class="pb-3 d-flex justify-content-center fw-bold text-body-tertiary">Actualizar Coordinador</h3>
      <div class="d-flex justify-content-center p-5 bg-warning bg-opacity-75 rounded-5">

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
              <label class="fw-semibold">Nombre:</label>
              <input type="text" name="nombre" maxlength="20" class="mb-3 form-control" value="{{coordinador.nombre}}">

              <label class="fw-semibold">Apellido:</label>
              <input type="text" name="apellido" maxlength="20" class="mb-3 form-control" value="{{coordinador.apellido}}">

              <label class="fw-semibold">DNI:</label>
              <input type="number" maxlength="10" name="numero_documento" class="mb-3 form-control" value="{{coordinador.numero_documento}}">

              <label class="fw-semibold">Fecha de alta:</label>
              <input type="date" name="fecha_alta" class="mb-3 form-control" value="{{coordinador.fecha_alta}}">
              </div>

              <div class="d-flex justify-content-center pt-5">
                <input type="submit" class="btn btn-primary bg-gradient fw-bold" value="Actualizar">
              </div>
            </div>

          </form>
    </div>
{% endblock %}