{% extends "index.html" %}

{% block titulo %} Nuevo Coordinador {% endblock %}

{% block contenido_principal %}
<form method="post">
        {% csrf_token %}

        Nombre: <input type="text" name="nombre">
        <br><br>
        Apellido: <input type="text" name="apellido">
        <br><br>
        N° Documento: <input type="number" name="numero_documento">
        <br><br>
        Fecha De Alta: <input type="date" name="fecha_alta">
        <br><br>

        <input type="submit" value="Guardar registro">

    </form>

    <br><br>

    <a href="{% url 'listar_coordinadores' %}">
        Ir al Listado
    </a>
{% endblock %}