{% extends "index.html" %}

{% block titulo %} Actualizar Cliente {% endblock %}



{% block contenido_principal %}
{%if creado%}
    <div class="toast-exito">Actualizado con exito</div>
{%endif%}
{%if fallo%}
    <div class="toast-fallo">Ocurrió un error al tratar de actualizar el registro</div>
{%endif%}
<div class="contenido">
  <h1 class="titulo">Actualizar Cliente</h1>
  <form method="post" class="formulario">
    {% csrf_token %}
    <div class="contenedor-campos">
      <div class="campo-formulario">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" value="{{cliente.nombre}}" required>
      </div>
      <div class="campo-formulario">
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" value="{{cliente.apellido}}" required>
      </div>

      <input class="boton" type="submit" value="Actualizar">

      <a href="{% url 'listar_clientes' %}" class="volver-link">
          Volver al listado
      </a>
    </div>
  </form>
</div>
{% endblock %}
