<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listado de Clientes</title>
  </head>
  <body>
    <header></header>
    <main>
      <br><br>
      <table border="1" width="700">
          <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>  
              <th>Acciones</th>            
          </tr>
          {% for cliente in clientes %}
              <tr>
                  <td>{{ cliente.id }}</td>
                  <td>{{ cliente.nombre }}</td>
                  <td>{{ cliente.apellido }}</td>
                  <td>
                    <a href="{% url 'actualizar_cliente' cliente.id%}">
                      Modificar
                    </a>
                    <a href="#"> <!-- La url para eliminar clientes no existe -->
                      Eliminar
                    </a>
                    {% if cliente.activo %}
                      <a href="{% url 'desactivar_cliente' cliente.id%}">
                        Desactivar
                      </a>
                    {% else %}  
                      <a href="{% url 'activar_cliente' cliente.id%}">
                        Activar
                      </a>
                    {% endif %}
                  </td>
              </tr>
          {% endfor %}
      </table>
    </main>    
    <footer></footer>
  </body>
</html>
