{% extends "index.html" %}

{% block titulo %} Nuevo Cliente {% endblock %}

{% block contenido_principal %}
{%if creado%}
    <div class="toast-exito">Creado con exito</div>
{%endif%}
{%if fallo%}
    <div class="toast-fallo">Ocurrió un error al crear el registro</div>
{%endif%}
<div class="contenido">
    <h1 class="titulo">Registrar Cliente</h1>
    <form method="post" class="formulario">
        {% csrf_token %}
        <div class="contenedor-campos">
            <div class="campo-formulario">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ingrese nombre" required>
            </div>
            <div class="campo-formulario">
                <label>Apellido:</label>
                <input type="text" name="apellido" placeholder="Ingrese apellido">
            </div>
            
            <input class="boton" type="submit" value="Guardar registro">

            <a href="{% url 'listar_clientes' %}" class="volver-link">
                Volver al listado
            </a>
        </div>
    </form>

</div>

{% endblock %}