{% extends "index.html" %}

{% block titulo %} Listado de servicios {% endblock %}


{% block contenido_principal %}
  <h1>Listado de servicios</h1>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for servicio in servicios %}
        <tr>
          <td>{{ servicio.id }}</td>
          <td>{{ servicio.nombre }}</td>
          <td>{{ servicio.descripcion }}</td>
          <td>{{ servicio.precio }}</td>
          <td>
            <a href="{% url 'actualizar_servicio' servicio.id %}">
                Modificar
            </a>

            |
            <!--Agregar view eliminar
            <a href="#">
                Eliminar
            </a>
            |
            -->
   

            {% if servicio.activo %}
              <a href="{% url 'desactivar_servicio' servicio.id%}">
                Desactivar
              </a>
            {% else %}  
              <a href="{% url 'activar_servicio' servicio.id%}">
                Activar
              </a>
            {% endif %}
        </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No hay servicios disponibles.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'registrar_servicio' %}">Nuevo Servicio</a>
{% endblock %}
