{% extends "index.html" %}

{% block titulo %} Actualizar Empleado {% endblock %}



{% block contenido_principal %}
<div class="contenido">
  <h1 class="titulo">Actualizar Empleado</h1>
</div>
      <div class="d-flex justify-content-center p-5 bg-warning bg-opacity-75 rounded-5">
        <form method="post" class="formulario">
            {% csrf_token %}

            <div class="contenedor-campos">
              <div class="campo-formulario">
              <label class="fw-semibold">Nombre:</label>
              <input type="text" name="nombre" maxlength="20" class="mb-3 form-control" value="{{empleado.nombre}}">
              </div>
              <div class="campo-formulario">
              <label class="fw-semibold">Apellido:</label>
              <input type="text" name="apellido" maxlength="20" class="mb-3 form-control" value="{{empleado.apellido}}">
              </div>
              <div class="campo-formulario">
              <label class="fw-semibold">N° Legajo:</label>
              <input type="number" maxlength="10" name="numero_legajo" class="mb-3 form-control" value="{{empleado.numero_legajo}}">
              </div>
              <input type="submit" class="boton" value="Actualizar">
              <a href="{% url 'listar_empleados' %}" class="volver-link">
                Volver al listado
              </a>
            </div>

          </form>
    </div>
{% endblock %}