{% extends "index.html" %}

{% block titulo %} Actualizar Empleado {% endblock %}



{% block contenido_principal %}
<div class="container">
      <h1 class="text-center fw-bold mb-3">Actualizar empleado</h1>
      <div class="d-flex justify-content-center">

        <form method="post" action="{% url 'actualizar_empleado' empleado.id %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control border border-dark border border-1" name="nombre" value="{{ empleado.nombre }}">
          </div>
          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido:</label>
            <input type="text" class="form-control border border-dark border border-1" name="apellido" value="{{ empleado.apellido }}">
          </div>
          <div class="mb-3">
            <label for="numero_legajo" class="form-label">Número de legajo:</label>
            <input type="text" class="form-control border border-dark border border-1" name="numero_legajo" value="{{ empleado.numero_legajo }}">
          </div>
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
      </div>
</div>
{% endblock %}