{% extends "index.html" %}

{% block titulo %} Lista Empleados {% endblock %}



{% block contenido_principal %}
<br><br>
      <table border="1" width="700">
          <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>N° Legajo</th>
              <th>Acciones</th>
          </tr>
          {% for empleado in empleados %}
              <tr>
                  <td>{{ empleado.id }}</td>
                  <td>{{ empleado.nombre }}</td>
                  <td>{{ empleado.apellido }}</td>
                  <td>{{ empleado.numero_legajo }}</td>
                  <td>
                      <a href="{% url 'actualizar_empleado' empleado.id %}">
                          Modificar
                      </a>

                      |

                      <a href="{% url 'eliminar_empleado' empleado.id %}">
                          Eliminar
                      </a>

                      |

                      {% if cliente.activo %}
                        <a href="{% url 'desactivar_empleado' empleado.id%}">
                          Desactivar
                        </a>
                      {% else %}  
                        <a href="{% url 'activar_empleado' empleado.id%}">
                          Activar
                        </a>
                      {% endif %}
                  </td>
              </tr>
          {% endfor %}
      </table>

      </br></br>
      <a href="{% url 'registrar_empleado' %}">Nuevo empleado</a>
{% endblock %}